body {
  background-color: #fcfcfc;
}

.avatar-view,.img-container {
  display: block;
  width:684px;height:980px;border:1px solid #ddd;
  background:#eee url(../img/add.png) center center no-repeat; margin:10px 0 0 24px;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  cursor: pointer;
  overflow: hidden;
}
.img-container{ background:#fff;background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC");}
.avatar-view img,.img-container img {
  max-width:684px;
}

.avatar-body {
  padding-right: 15px;
  padding-left: 15px;
}

.avatar-upload {
  overflow: hidden;
}

.avatar-upload label {
  display: block;
  float: left;
  clear: left;
  width: 100px;
}

.avatar-upload input {
  display: block;
  margin-left: 110px;
}

.avatar-alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar-wrapper {
  height: 364px;
  width: 100%;
  margin-top: 15px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  background-color: #fcfcfc;
  overflow: hidden;
}

.avatar-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

.avatar-preview {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.avatar-preview:hover {
  border-color: #ccf;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.avatar-preview img {
  width: 100%;
}

.preview-lg {
  height: 184px;
  width: 184px;
  margin-top: 15px;
}

.preview-md {
  height: 100px;
  width: 100px;
}

.preview-sm {
  height: 50px;
  width: 50px;
}

@media (min-width: 992px) {
  .avatar-preview {
    float: none;
  }
}

.avatar-btns {
  margin-top: 30px;
  margin-bottom: 15px;
}

.avatar-btns .btn-group {
  margin-right: 5px;
}

.loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff url("../img/loading.gif") no-repeat center center;
  opacity: .75;
  filter: alpha(opacity=75);
  z-index: 20140628;
}
.w1000{width: 1320px;margin: 20px auto;border:1px solid #ddd;}
.fr{float:right}
.fl{float:left}
.por{ position:relative;}
.tc{text-align: center;}
.mb20{margin-bottom: 20px;}
.f16{font-size:16px}
.f24{font-size:24px}
.posr{position: relative;}
h3{padding: 0 20px;}
.uploadfilebtn {width: 300px;height: 300px;position: absolute;top: 0;left: 0;}
/*.uploadfilebtn:hover{background: #fff;}*/
.uploadfile{opacity: 0;width: 0;height: 0;}
a.btn{width: 100px;text-align: center;border:1px solid #ddd;margin-top: 30px;margin-left: 195px;}
a.btn:hover{color:#000!important;}
.left{width: 732px;}
.right{width:576px;border-left:1px solid #ddd;padding-bottom: 20px;}
.show{margin-bottom: 50px;}
.show_main,.code_ori_main{width:528px;height: auto;margin: 0 auto;border: 1px solid #ddd; overflow-y:auto;}
.showpic{ position:absolute; top:91px; left:98px; z-index:3;}
.progress{ margin-top:10px;}
.hid{ display:none;}
.mi,.mo,.mroot,.math{ color:#ff0000;}
.ltr .ltr{ margin-bottom:10px;}
.ctlbtn{text-align:center; margin:20px 0 0 20px;}
.ctlbtn button{ margin-left:20px;}
#upload_imgtips{ margin-left:24px; margin-right:16px;}
.docs-buttons{ margin:10px 0 10px 24px;}
.btn-group{ margin-bottom:12px;}
#loading{ width:684px; height:580px; padding-top:330px; top:12px; left:22px; border-radius:5px; z-index:10; position:absolute; background:rgba(255,255,255,0.98) url(../img/loadin2.gif) center center no-repeat; text-align:center; font-size:24px;}
.error-list dl dd.cont{ border:1px solid #e1e7f0; margin-top:10px; padding:14px 10px 25px 20px; background:#fff;}
.error-list dl dd.cont .num-list{ padding-right:5px;}
.error-list dl dd.cont .timu{ width:690px;}
.error-list dl .nandu{ display:inline-block; float:left;}
.error-list dl .kaodain{ display:inline-block; float:left; width:390px; height:30px;  padding-left:20px; }
.error-list dl .laiyuan{ display:inline-block; float:right; width:700px; height:30px;  padding-left:20px; }
.error-list .intr{ color:#839096;}
.lin-heig{ line-height:30px;}
.error-list{ width:820px; margin:auto;}
.error-list .correct-answer{ width:82px; }
.error-list .answer{ width:643px; }
/*序号和题干显示在一行*/
.error-list .cont .question{ width:680px; }


.more-cont{ line-height:28px; padding:0 20px; border:1px solid #e1e7f0; border-top:none; background:#f8f9fa; color:#839096;}
.more-cont .correct{ padding-right:15px;}
.more-cont .jiexi{ padding:0 0px 0 20px; cursor:pointer; background:url(../images/photo_icon.png) no-repeat 0 -202px;margin-left: 20px;}
.more-cont .jiexi:hover{color:#3a9add; }
.more-cont .shoucang{ padding:0  0px 0 20px; cursor:pointer; background:url(../images/photo_icon.png) no-repeat 0 -244px;margin-left: 20px;}
.more-cont .shoucang:hover{ color:#3a9add;}
.more-cont .shoucang-on{ padding:0  0px 0 20px; cursor:pointer; background:url(../images/photo_icon.png) no-repeat 0 -331px;margin-left: 20px;}
.more-cont .shoucang-on:hover{ color:#839096;}
.more-cont .jiaru{ padding-left:20px; cursor:pointer; background:url(../images/photo_icon.png) no-repeat 0 -284px;margin-left:20px;}
.ml20{ margin-left:20px;}
.more-cont .jiaru:hover{ color:#3a9add;}
.more-cont .jiaru-on{ padding-left:20px; cursor:pointer; background:url(../images/photo_icon.png) no-repeat 0 -375px;margin-left: 20px;}
.more-cont .jiaru-on:hover{ color:#3a9add;}
.more-cont .cancel-shoucang{ float: right; padding:0 0 0 20px;}
.more-cont .cancel-shoucang:hover{color:#3a9add; }
.exercise-answer-con .more-cont{border:none;} 
.search-list{ margin:-52px 0 0 20px;}
.error-tips{ float:left; color:#d9534f;}